<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新增权限</title>
    <th:block th:replace="/backstage/common_resources::common_css"/>
    <th:block th:replace="/backstage/common_resources::common_js"/>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <!-- 页面头部 -->
    <header th:replace="~{/backstage/common_header::header}"></header>
    <!-- 导航侧栏 -->
    <aside th:replace="~{/backstage/common_aside::aside}"></aside>
    <!-- 内容区域 -->
    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                权限管理
                <small>新增权限</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/backstage/index}"><i
                        class="fa fa-dashboard"></i> 首页</a></li>
                <li><a th:href="@{/backstage/permission/all}">权限管理</a></li>
                <li class="active">新增权限</li>
            </ol>
        </section>
        <!-- 内容头部 /-->
        <!-- 正文区域 -->
        <section class="content"> <!-- .box-body -->
            <form th:action="@{/backstage/permission/add}" method="post">
                <div class="tab-pane" id="tab-common">
                    <div class="row data-type">

                        <div class="col-md-2 title">权限名</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" placeholder="权限名" name="permissionName">
                        </div>

                        <div class="col-md-2 title">权限详情</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" placeholder="权限详情" name="permissionDesc">
                        </div>

                        <div class="col-md-2 title"></div>
                        <div class="col-md-10 data text-center">
                            <button type="submit" class="btn bg-maroon">保存</button>
                            <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                        </div>

                    </div>
                </div>
            </form>
        </section>
        <!-- 正文区域 /-->
    </div>
    <!-- 底部导航 -->
    <footer th:replace="~{/backstage/common_footer::footer}"></footer>
</div>

</body>
</html>
